@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;

    background-color: #070707;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;

    background-color: #101010;
    position: relative;
}

.logo-urban-fit{
    width: 92px;
    height: 93px;

    position: absolute;
    left: 80px;
    bottom: 14px;
}

nav{
    display: flex;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 132px;
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #D5D5D5;
    transition: 0.2s all ease;
}

.nav-menu a:hover{
    color: #A0FC01;
    transition: 0.4s all ease;
}

.hero{
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;

    height: calc(100vh - 120px);
    padding-left: 80px;
}

.left-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    flex-basis: 50%;

    position: relative;
    z-index: 10;
}

.left-hero h1{
    font-size: 74px;
    font-weight: 400;
    color: #A0FC01;
}

.left-hero p{
    font-size: 34px;
    font-weight: 300;
    color: #D5D5D5;
}

#botao-left-hero{
    font-size: 18px;
    letter-spacing: 4px;

    border-radius: 6px;
    border: none;
    cursor: pointer;

    background-color: #A0FC01;
    color: #29311B;
    padding: 18px 35px;
    transition: 0.3s all ease;
}

#botao-left-hero:hover{
    box-shadow: 0px 0px 20px #A0FC01;
    transform: translateY(-2px);
}

.right-hero{
    height: 100%;

    position: relative;
    z-index: 5;
    flex-basis: 50%;
    
}
.academia-right-hero{
    position: absolute;
    right: -60px;
    z-index: 1;
}

.blur-right-hero{
    position: absolute;
    left: -270px;
    bottom: -100px;
    z-index: 2;
}

.mulher-right-hero{
    height: 950px;

    position: absolute;
    right: 300px;
    bottom: -180px;
    z-index: 3;
    opacity: 0.8;
    
}

.divisao{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #29311B;
    background-color: #A0FC01;

    font-weight: 600;
    letter-spacing: 4px;
}

.section2{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section2 h1{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 48px;
    font-weight: 400;
    color: #A0FC01;
}

.bento-grid{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 12px;
}

.bento-up, .bento-down{
    display: flex;
    gap: 12px;
}

.bento-up img, .bento-down img{
    border-radius: 10px;
}

.bento1{
    width: 503px;
    object-fit: cover;
}

.bento5{
    width: 377px;
    object-fit: cover;
}

.bento4{
    width: 341.69px;
    object-fit: cover;
}

.bento2{
    width: 589px;
    object-fit: cover;
}

.bento3{
    width: 646px;
    object-fit: cover;
}

.divisao-modalidades{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #29311B;
    background-color: #A0FC01;

    font-weight: 600;
    letter-spacing: 4px;
}

.section3{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: aliceblue;
    overflow: hidden;
}

.section3 h1{
    font-size: 48px;
    padding-top: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    color: #A0FC01;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 176px;
}

.card{
    border-radius: 8px;
    background-color: #1E1E1E;
    cursor: pointer;
    transition: 0.3s all ease;
}

.card:hover{
    transform: translateY(-4px);
}

.card h2{
    text-align: center;
    padding: 6px;
    font-weight: 300;
    color: #A0FC01;
}

.card img{
    border-radius: 8px 8px 0 0;
}

.divisao-planos{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #29311B;
    background-color: #A0FC01;

    font-weight: 600;
    letter-spacing: 4px;
}

.section4{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: aliceblue;
    overflow: hidden;
}

.cards-planos{
    display: flex;
    gap: 100px;
}

.card-iron{
    width: 300px;
    height: 500px;

    background-color: #1E1E1E;
    border: #29311B solid 2px;
    border-radius: 20px;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
    margin-top: 60px;
}

.card-iron p:first-child {
    color: white;
    font-size: 25px;
    margin-bottom: -10px;
}

.card-iron h2{
    color: #A0FC01;
    font-size: 35px ;
    margin: 0;
}

.iron-preco{
    display: flex;
    align-items: baseline;
    color: white;
    margin-top: 20px;
}

.check-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
}

#botao-card-iron {
    width: 180px;
    height: 38px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: #A0FC01 solid 0.5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    align-self: center; 

    transition: 0.3s all ease;
    
}

#botao-card-iron:hover{
    transform: translateY(-4px);
    box-shadow: 0px 1px 5px 01px #A0FC01;
}


.card-urban{
    width: 360px;
    height: 560px;

    background-color: #1E1E1E;
    border: #A0FC01 solid 2px;
    border-radius: 0px 40px 0px 20px;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
    position: relative;
}

.card-urban p:first-child {
    color: white;
    font-size: 25px;
    margin-bottom: -10px;
}

.card-urban h2{
    color: #A0FC01;
    font-size: 35px ;
    margin: 0;
}

.badge-popular{
    position: absolute;
    top: 46px;
    right: 32px;

    padding: 14px 28px;
    background-color: #404040;
    border-radius: 16px;

    font-size: 12px;
    font-weight: 600;
    color: #A0FC01;
}

.urban-preco{
    display: flex;
    align-items: baseline;
    color: white;
    margin-top: 20px;
}

.check-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
}

#botao-card-urban {
    width: 200px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: #000000 solid 1px;
    background-color: #A0FC01;
    color: rgb(0, 0, 0);
    cursor: pointer;
    align-self: center; 

    transition: 0.5s all ease;
    
}

#botao-card-urban:hover{
    transform: translateY(-4px);
    box-shadow: 0px 1px 20px 6px #000000;
} 

.card-black{
    width: 300px;
    height: 500px;

    background-color: #1E1E1E;
    border: #29311B solid 2px;
    border-radius: 20px;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
    margin-top: 60px;
}

.card-black p:first-child {
    color: white;
    font-size: 25px;
    margin-bottom: -10px;
}

.card-black h2{
    color: #A0FC01;
    font-size: 35px ;
    margin: 0;
}

.black-preco{
    display: flex;
    align-items: baseline;
    color: white;
    margin-top: 20px;
}

.check-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
}

#botao-card-black {
    width: 180px;
    height: 38px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: #A0FC01 solid 0.5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    align-self: center; 

    transition: 0.3s all ease;
    
}

#botao-card-black:hover{
    transform: translateY(-4px);
    box-shadow: 0px 1px 5px 01px #A0FC01;
}

.blur-planos{
    position: absolute;
    z-index: -1;
    left: -600px;
    top: -300px;
}

.divisao-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #29311B;
    background-color: #A0FC01;

    font-weight: 600;
    letter-spacing: 4px;
}

.section5{
    width: 100%;
    height: 450px;
    padding: 60px  95px;
}

.footer-content{
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.left-contatos{
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: #D5D5D5;
}

.item-contato{
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-sobre{
    max-width: 500px;
}

.right-sobre h2{
    font-size: 40px;
    color: #A0FC01;
    margin-bottom: 20px;
}

.right-sobre p{
    color: #D5D5D5;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-links{
    display: flex;
    gap: 15px;
}

.social-links img{
    cursor: pointer;
    transition: transform 0.2s ;
}

.social-links img:hover{
    transform: scale(1.1);
}