@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    width: 100%;
    min-height: 100vh;

    background-color: #070707;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;

    background-color: #101010;
    position: relative;
}

.logo-urban-fit{
    width: 92px;
    height: 93px;

    position: absolute;
    left: 80px;
    bottom: 14px;
}

nav{
    display: flex;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 132px;
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #D5D5D5;
    transition: 0.2s all ease;
}

.nav-menu a:hover{
    color: #A0FC01;
    transition: 0.4s all ease;
}

.hero{
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;

    height: calc(100vh - 120px);
    padding-left: 80px;
}

.left-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    flex-basis: 50%;

    position: relative;
    z-index: 10;
}

.left-hero h1{
    font-size: 74px;
    font-weight: 400;
    color: #A0FC01;
}

.left-hero p{
    font-size: 34px;
    font-weight: 300;
    color: #D5D5D5;
}

#botao-left-hero{
    font-size: 18px;
    letter-spacing: 4px;

    border-radius: 6px;
    border: none;
    cursor: pointer;

    background-color: #A0FC01;
    color: #29311B;
    padding: 18px 35px;
    transition: 0.3s all ease;
}

#botao-left-hero:hover{
    box-shadow: 0px 0px 20px #A0FC01;
    transform: translateY(-2px);
}

.right-hero{
    height: 100%;

    position: relative;
    z-index: 5;
    flex-basis: 50%;
    
}
.academia-right-hero{
    position: absolute;
    right: -60px;
    z-index: 1;
}

.blur-right-hero{
    position: absolute;
    left: -270px;
    bottom: -100px;
    z-index: 2;
}

.mulher-right-hero{
    height: 950px;

    position: absolute;
    right: 300px;
    bottom: -180px;
    z-index: 3;
    opacity: 0.8;
    
}

.divisao{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #29311B;
    background-color: #A0FC01;

    font-weight: 600;
    letter-spacing: 4px;
}
